.log_out{
    height: 42px;
    margin: 5px;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    background-color: #4361ee;
    color: white;
    transition: 500ms;
}
.formLog{
    margin: 0;
}
.log_out:hover{
    transition: 500ms;
    background-color: rgba(67, 97, 238, 0.49);
}
 #content:before {
     content: '';
     background: none;
 }

